/* FruitCards.js CSS */

.fruit_cards {
  width: 50vw;
}

.fruit_cards_image {
  width: 40%;
  height: 40%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
}

.fruit_cards_image:hover {
  opacity: 0.5;
  background-color: #ffff;
}

input {
  width: 50%;
  height: 2rem;
  border: 1px solid #707070;
  border-radius: 5px;
  text-align: center;
}

input:focus-visible {
  color: #707070;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  background-color: #707070;
}

.add_button,
.remove_button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
}

.add_button {
  color: #39bf99;
  border: 2px solid #39bf99;
}

.remove_button {
  color: #ff0000;
  border: 2px solid #ff0000;
}

form {
  display: flex;
  gap: 1rem;
}

.fruit_cards_container {
  width: 100%;
  /* padding: 1rem; */
}

/* Products */

.fruit_cards_image_product {
  width: 25rem;
  height: auto;
  border-radius: 5px;
}

.buy_now_button {
  width: 15rem;
  padding: 1rem;
  
}

.product_modal_button {
  width: 12rem;
  padding: 0.5rem;
  font-size: 0.7rem;
}

.buy_now_button,
.product_modal_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  gap: 1rem;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  color: #707070;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    var(--chakra-colors-gray-100) 50%,
    white 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.buy_now_button:hover,
.product_modal_button:hover {
  background-position: left bottom;
}

.product_information {
  border-right: 1px solid #cccccc;
}

/* Media Queries */

@media screen and (max-width: 1023px) {
  .product_information {
    padding: 0.5rem 1.5rem;
  }
}

@media screen and (max-width: 958px) {
  .product_information {
    padding: 0.5rem;

    border-right: none;
  }
}
