.fruit_catalogue_container {
  background-color: #ffff;
  height: auto;
  padding-top: 12.813rem;
  margin: 0 auto;
  /* width: 100vw; */
  /* display: flex; */
}

.fruit_catalogue_content {
  display: flex;
  height: 5.375rem;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #707070;
  flex-wrap: wrap-reverse;
}

.fruit_catalogue_content a {
  font-family: Raleway;
  font-weight: thin;
  color: #707070;
}

.fruit_catalogue_content a:hover {
  background-color: #e5e5e5;
  /* padding: 2.03rem; */
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: 0px solid transparent;
  overflow: hidden;
}

/* FruitCards.js CSS */

.fruit_cards {
  width: 50vw;
}

.fruit_cards_image {
  width: 40%;
  height: 40%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
}

.fruit_cards_image:hover {
  opacity: 0.5;
  background-color: #ffff;
}

input {
  width: 50%;
  height: 2rem;
  border: 1px solid #707070;
  border-radius: 5px;
  text-align: center;
}

input:focus-visible {
  color: #707070;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  background-color: #707070;
}

.add_button,
.remove_button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
}

.add_button {
  color: #39bf99;
  border: 2px solid #39bf99;
}

.remove_button {
  color: #ff0000;
  border: 2px solid #ff0000;
}

form {
  display: flex;
  gap: 1rem;
}

.fruit_cards_container {
  width: 100%;
  /* padding: 1rem; */
}

/* FruitCatalogue.js CSS */

.fruit_data_display {
  display: flex;
}

.fruit_bought_display {
  width: 50%;
  padding: 0 1rem;
  margin: 0 1rem;
}

/* Media Queries */
