.fruit_catalogue_container {
  background-color: #ffff;
  height: auto;
  padding-top: 12.813rem;
}

.fruit_catalogue_content {
  display: flex;
  height: 5.375rem;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #707070;
  flex-wrap: wrap-reverse;
}

.fruit_catalogue_content a {
  font-family: Raleway;
  font-weight: thin;
  color: #707070;
}

.fruit_catalogue_content a:hover {
  background-color: #e5e5e5;
  /* padding: 2.03rem; */
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: 0px solid transparent;
  overflow: hidden;
}

/* FruitCards.js CSS */

.fruit_cards_image {
  width: 15rem;
  height: 10.813rem;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

input {
  width: 50%;
  height: 2rem;
  border: 1px solid #707070;
  border-radius: 5px;
  text-align: center;
}

input:focus-visible {
  color: #FF0000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  background-color: #707070;
}

.add_button,
.remove_button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
}

.add_button {
  color: #39bf99;
  border: 2px solid #39bf99;
}

.remove_button {
  color: #FF0000;
  border: 2px solid #FF0000;
}

form {
  display: flex;
  gap: 1rem;
}
