.navbar_container {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3.188rem;
  position: absolute;
  z-index: 2;
}

.nav > div {
  display: flex;
  width: 50%;
  
}

.nav ul {
  display: flex;
  gap: 3.75rem;
  list-style-type: none;
}

.nav li {
  text-decoration: none;
  margin: 0;
}

.nav .navbar a {
  text-decoration: none;
  color: #F23D91;
  /* change the color to white  */
  font-family: "Raleway Black";
}

.nav_pink .nav_pink a {
  text-decoration: none;
  color: #F23D91;
  font-family: "Raleway Black";
}

.logo > div {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.navbar.colorChange{
  color: #000;
}

/* Dropdown.js CSS */

.dropdown_nav a {
  color: #f23d91;
}

.dropdown_nav ul {
  list-style-type: none;
}

.dropdown_nav a:hover {
  color: #707070;
}

.nav_button:hover {
  background-color: transparent;
}

/* Media Queries */

@media only screen and (min-width: 954px) {
  .dropdown_menu {
    display: none;
  }
}

@media only screen and (max-width: 954px) {
  .nav ul {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

  }
}
