.navbar_container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3.188rem;
  position:fixed;
  z-index: 2;
  backdrop-filter: blur(20px);
}

.nav > div {
  display: flex;
  width: 50%;
}

.nav ul {
  display: flex;
  gap: 3.75rem;
  list-style-type: none;
}

.nav li {
  text-decoration: none;
  margin: 0;
}

.nav .navbar a {
  text-decoration: none;
  color: #f23d91;
  font-family: "Raleway Black";
}

.nav_pink .nav_pink a {
  text-decoration: none;
  color: #f23d91;
  font-family: "Raleway Black";
}

.logo > div {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.navbar.colorChange {
  color: #000;
}

.growing_border {
  width: 8rem;
  padding-bottom: 2px;
  border-bottom: 0px solid #ffc5e0;
  transition: all .2s ease-in-out;
  text-align: center;
}
.growing_border:hover {
  border-bottom-width: 2px;
}

/* Dropdown.js CSS */

.dropdown_nav a {
  color: #f23d91;
  font-weight: bold;
  text-transform: uppercase;
}

.dropdown_nav ul {
  list-style-type: none;
}

.dropdown_nav a:hover {
  color: #707070;
  font-weight: normal;
}

.nav_button:hover {
  background-color: transparent;
}

.nav_home {
  color: #ffffff;
}

.dropdown_nav {
  width: 100vw;
  text-align: center;
}

.dropdown_navbar,
.dropdown_nav ul,
.dropdown_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

/* Media Queries */

@media only screen and (min-width: 954px) {
  .dropdown_menu {
    display: none;
  }
}

@media only screen and (max-width: 954px) {
  .nav ul {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .cart_btn {
    display: none;
  }
}

